@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Black+Ops+One&family=Changa:wght@200&family=Luckiest+Guy&family=Orelega+One&family=PT+Sans&family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');



:root {

  /* Colors  */
  --background-dark: #000307;
  --foreground-blue: #74b5ff;
  --foreground-light-blue: #b7d9ff;
  --foreground-light-blue-transparent: #b7d9ff00;
  --foreground-blue-faded: #006deb88;
  --foreground-light: #bdc2d4;
  --foreground-light-faded: #bdc2d488;
  --neon-border-color: #0077ff99;

  /* Box Shadows */
  --box-shadow-blue: 0px 0px 5px #0077ff99, 0 0px 2px rgba(0, 31, 204, 0.8);
  --box-shadow-blue-selected: 
      1px 1px 5px #dbecff,
      -1px -1px 5px #91c4ff,
      0px 0px 5px #0077ff99,
      0px 0px 10px #0077ff99,
      0px 0px 15px #0077ff99,
      0px 0px 20px #0077ff99;
  --box-shadow-white: 1px 1px 5px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(255, 255, 255, 0.5);

  /* Text */
  --font-size-small: 18px;
  --font-size-regular: 24px;
  --font-size-large: 30px;

  }

/* ===================== 
        ELEMENTS
======================== */ 

body{
  /* background-color: #242b36; */
  background-color: #141a24;
  font-family: 'Kanit', sans-serif;
  color: #bdc2d4;
  margin: 0;
  background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
}

h1{
  margin-left: 0.1em;
}


img{
  object-fit: contain;
  width: 50%;
  margin: auto;
  display: flex;
 }


/* ===================== 
        SINGLES
======================== */ 

.flex{
  display: flex;
}

.inline-flex{
  display: inline-flex;
}

.center{
  margin: auto;
}

/* ===================== 
        TEXT
======================== */ 

 .text-center{
  text-align: center;
}

.font-small{
 font-size: var(--font-size-small);
}

.font-regular{
  font-size: var(--font-size-regular);
}

.font-large{
 font-size: var(--font-size-large);
}

/* ===================== 
        COLORS
======================== */ 
.fg-light{
  color: var(--foreground-light)
}
.fg-light-faded{
  color: var(--foreground-light-faded)
}
.fg-blue{
  color: var(--foreground-blue)
}
.fg-blue-faded{
  color: var(--foreground-blue-faded)
}

/* ===================== 
        LAYOUT
======================== */ 

.container {
    margin: auto;
    width: 100%;
}

.prison-door {

  margin: 1em 0.5em 0em 0.5em;
  border-radius: 20px 20px 0px 0px;
      background-color: var(--background-dark);
    display: flex;
    /* justify-content: space-between; */
    height: 270px;
    width: 13em;

    background-image: url("./resources/photostop/door-tiles-45.png");

    /* Major performance reduction -->  */
    /* box-shadow: var(--box-shadow-blue); */

    --text-shadow-prison-number: none;
    --prison-number-color: var(--foreground-blue-faded);
    --prison-number-color-hover: var(--foreground-blue);
  }

  .prison-door > div {
    flex: 1;
    text-align: center;
  }

  .prison-door.is-selected  {
    --text-shadow-prison-number: 
      0px 0px 5px #006debff,
      0px 0px 10px #006debff,
      0px 0px 15px #006debff,
      0px 0px 25px #006debff,
      0px 0px 35px #006debff,
      0px 0px 50px #006debff,
      0px 0px 70px #006debff;
    --prison-number-color: rgb(218, 235, 255);
    --prison-number-color-hover: rgb(218, 235, 255);;

    box-shadow: var(--box-shadow-blue-selected);
  }

  .prison-door-inner-border{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: var(--box-shadow-blue);
    width: 100%;
    
  }

  .prisoner-name{
    font-size: 24px;
  }

  .glow{
    text-shadow: var(--text-shadow-prison-number);
    color: var(--prison-number-color);
  }

  .glow:hover{
    color: var(--prison-number-color-hover);
    cursor: pointer;
  }

  .prisoner-number{
    font-family: 'Changa', sans-serif;
    font-size: 30px;
    margin: 10px 30px;
  }

 .details-container{
   margin: auto;
   margin-top: 20px;
  border-radius: 20px;
  background-color: var(--background-dark);
  display: flex;
  width: 85%;
  max-width: 500px;
  color: var(--foreground-blue);
  background-image: url("./resources/photostop/door-tiles-45.png");

 }

 .left-container{
  flex: 0 1 40%;
  min-height: 100%;
  max-width: 40%;
 }

 .right-container{
  flex: 0 1 60%;
  display: flex;
  height: 100%;
  max-width: 60%;
  align-items: flex-end;
  box-sizing: border-box;

padding: 10px;

  border-left-width: 1px;
  border-right-width: 0px;
  border-top-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--foreground-blue), rgba(0, 0, 0, 0)) 1 100%;
 }

 .detail{
   color: var(--foreground-light);
   font-size: var(--font-size-regular);
   font-weight: bold;
 }

 .detail.list{
  font-size: var(--font-size-small);
  font-weight: normal;
 }

 .detail-description{
  color: var(--foreground-blue);
  font-size: var(--font-size-small);
}

 .photo{
  background-image: url("./resources/photostop/wireframe_blue.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain; 
  /* position: relative;
  /* height: 20vw; */
  height: 100%;
  flex:2;
  margin: 0px 10px;

  /* border-left-width: 2px;
  border-right-width: 2px;
  border-style: solid;
  border-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--foreground-blue), rgba(0, 0, 0, 0)) 1 100%; */

  /* animation: opacity-pulse 2s alternate infinite;
  animation-timing-function: ease-in-out; */
 }

 .numerics{
  font-family: 'Changa', sans-serif;
  font-weight: bold;
  font-size: var(--font-size-small);
 }

 .bar-graph{
   display: flex;
   align-items: flex-end;
   height: 130px;
 }

 .bar{
  background: var(--foreground-blue-faded);
  margin: 5px;
  height: 100px;
  width: 10px;
 }

 .b1{
   width: 10px;
   animation: bar1 1.4s alternate infinite;
   animation-timing-function: linear;
 }

 .b2{
  width: 10px;
  animation: bar2 1s alternate infinite;
  animation-timing-function: linear;

}

.b3{
  width: 10px;
  animation: bar3 1.8s alternate infinite;
}

.b4{
  width: 10px;
  animation: bar4 0.8s alternate infinite;
  animation-timing-function: linear;
}

.b5{
  width: 10px;
  animation: bar5 0.4s alternate infinite;
  animation-timing-function: linear;
}


@keyframes bar1{
  0%{
    height: 10px;
  }
  100%{
    height: 90px;
  }
}
@keyframes bar2{
  0%{
    height: 50px;
  }
  100%{
    height: 115px;
  }
}
@keyframes bar3{
  0%{
    height: 0px;
  }
  100%{
    height: 80px;
  }
}
@keyframes bar4{
  0%{
    height: 30px;
  }
  100%{
    height: 60px;
  }
}

@keyframes bar5{
  0%{
    height: 30px;
  }
  100%{
    height: 60px;
  }
}

 /* @keyframes opacity-pulse{
   0%{
     opacity: 40%;
   }
   100%{
     opacity: 100%;
   }
 } */

 .hr-1{

   --box-shadow-hr-start:
   0px 0px 2px #91c4ff,
   0px 0px 5px #0077ff99,
   0px 0px 10px #0077ff99,
   0px 0px 15px #0077ff99,
   0px 0px 20px #0077ff99,
   0px 0px 30px #0077ff99,
   0px 0px 50px #0077ff99;

   --box-shadow-hr-end:
   0px 0px 5px #0077ff99,
   0px 0px 10px #0077ff99,
   0px 0px 15px #0077ff99;

  box-shadow: var(--box-shadow-hr-start);
  border-color: var(--foreground-light-blue);
  animation: pulse 2s infinite;
  /* animation-timing-function: cubic-bezier(0.82, 0.14, 0.74, 0.38); */
  animation-timing-function: linear;
 }

 @keyframes pulse {
   100%{
     box-shadow: none;
    /* border-color: var(--foreground-blue-faded); */
    opacity: 20%;
   }
 }

 .hr-2{
  border: 0;
  height: 0.3em;
  /* width: 200%; */
  /* background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)); */
  --turn: 0;
  /* --start: 0%;
  --end: calc(var(--start) + 4%);
  --end: 5%; */
  background: linear-gradient(to left, #b7d9ff00,#b7d9ff00, 48%, var(--foreground-blue) , 52%, #b7d9ff30, #b7d9ff20, #b7d9ff10, #b7d9ff00);
  background-size: 200%;
  background-position: 0% 0%;
  box-shadow:  
  0px 0px 5px #0077ff99;

  
    
  animation: moving-linear 1s infinite;
  animation-timing-function: linear;
}

@keyframes moving-linear{
  50%{
    box-shadow:   none;
  }
  100%{
    background-position: -200% 0%;
  }
}



.marker{
  border: none;
  height: 2px;
  background: linear-gradient(to left, #00000000,  var(--foreground-blue), #00000000);
  animation: 1s infinite;
  margin-bottom: 10px;
  border-radius: 50%;
}

.marker.m1{

  width: 50px;
  animation-name: marker-opacity-1;
}

.marker.m2{
  width: 20px;
  animation-name: marker-opacity-2;
}

.marker.m3{
  width: 20px;
  animation-name: marker-opacity-3;
}

.marker.m4{
  width: 20px;
  animation-name: marker-opacity-4;
}

.marker.m5{
  width: 20px;
  animation-name: marker-opacity-5;
}

@keyframes marker-opacity-1{
  0%{
    opacity: 0%;
  }
  10%{
    opacity: 0%;
  }
  20%{
    opacity: 100%;
  }
  30%{
    opacity: 100%;
  }
  40%{
    opacity: 100%;
  }
  50%{
    opacity: 100%;
  }
  60%{
    opacity: 100%;
  }
  70%{
    opacity: 100%;
  }
  80%{
    opacity: 100%;
  }
  90%{
    opacity: 100%;
  }
  100%{
    opacity: 100%;
  }
}

@keyframes marker-opacity-2{
  0%{
    opacity: 0%;
  }
  10%{
    opacity: 0%;
  }
  20%{
    opacity: 0%;
  }
  30%{
    opacity: 0%;
  }
  40%{
    opacity: 100%;
  }
  50%{
    opacity: 100%;
  }
  60%{
    opacity: 100%;
  }
  70%{
    opacity: 100%;
  }
  80%{
    opacity: 100%;
  }
  90%{
    opacity: 100%;
  }
  100%{
    opacity: 100%;
  }
}

@keyframes marker-opacity-3{
  0%{
    opacity: 0%;
  }
  10%{
    opacity: 0%;
  }
  20%{
    opacity: 0%;
  }
  30%{
    opacity: 0%;
  }
  40%{
    opacity: 0%;
  }
  50%{
    opacity: 0%;
  }
  60%{
    opacity: 100%;
  }
  70%{
    opacity: 100%;
  }
  80%{
    opacity: 100%;
  }
  90%{
    opacity: 100%;
  }
  100%{
    opacity: 100%;
  }
}

@keyframes marker-opacity-4{
  0%{
    opacity: 0%;
  }
  10%{
    opacity: 0%;
  }
  20%{
    opacity: 0%;
  }
  30%{
    opacity: 0%;
  }
  40%{
    opacity: 0%;
  }
  50%{
    opacity: 0%;
  }
  60%{
    opacity: 0%;
  }
  70%{
    opacity: 0%;
  }
  80%{
    opacity: 100%;
  }
  90%{
    opacity: 100%;
  }
  100%{
    opacity: 100%;
  }
}

@keyframes marker-opacity-5{
  0%{
    opacity: 0%;
  }
  10%{
    opacity: 0%;
  }
  20%{
    opacity: 0%;
  }
  30%{
    opacity: 0%;
  }
  40%{
    opacity: 0%;
  }
  50%{
    opacity: 0%;
  }
  60%{
    opacity: 0%;
  }
  70%{
    opacity: 0%;
  }
  80%{
    opacity: 0%;
  }
  90%{
    opacity: 0%;
  }
  100%{
    opacity: 100%;
  }
}









 


