@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Black+Ops+One&family=Changa:wght@200&family=Luckiest+Guy&family=Orelega+One&family=PT+Sans&family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Monoton&family=Righteous&display=swap');




:root {

  /* Colors  */
  --background-dark: #000307;
  --foreground-blue: #74b5ff;
  --foreground-light-blue: #b7d9ff;
  --foreground-verylight-blue: #dbecff;
  --foreground-light-blue-transparent: #b7d9ff00;
  --foreground-blue-faded: #006deb88;
  --foreground-light: #bdc2d4;
  --foreground-light-faded: #bdc2d488;
  --neon-border-color: #0077ff99;

  /* Box Shadows */
  --box-shadow-blue: 0px 0px 5px #0077ff99, 0 0px 2px rgba(0, 31, 204, 0.8);
  --box-shadow-blue-selected: 
      1px 1px 5px #dbecff,
      -1px -1px 5px #91c4ff,
      0px 0px 5px #0077ff99,
      0px 0px 10px #0077ff99,
      0px 0px 15px #0077ff99,
      0px 0px 20px #0077ff99;
  --box-shadow-white: 1px 1px 5px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(255, 255, 255, 0.5);

  /* Text */
  --font-size-small: 18px;
  --font-size-regular: 24px;
  --font-size-large: 30px;
  --font-size-very-large: 40px;
  --font-size-super-large: 50px;

  }

/* ===================== 
        ELEMENTS
======================== */ 

body{
  /* background-color: #242b36; */
  background-color: #141a24;
  font-family: 'Kanit', sans-serif;
  color: #bdc2d4;
  margin: 0;
  background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
}

h1{
  margin-left: 0.1em;
}


img{
  object-fit: contain;
  width: 50%;
  margin: auto;
  display: flex;
 }


/* ===================== 
        SINGLES
======================== */ 

.flex{
  display: flex;
}

.inline-flex{
  display: inline-flex;
}

.center{
  margin: auto;
}

/* ===================== 
        TEXT
======================== */ 

 .text-center{
  text-align: center;
}

.fs-s{
 font-size: var(--font-size-small);
}

.fs-m{
  font-size: var(--font-size-regular);
}

.fs-l{
 font-size: var(--font-size-large);
}

.fs-xl{
  font-size: var(--font-size-very-large);
 }

 .fs-xxl{
  font-size: var(--font-size-super-large);
 }

/* ===================== 
        COLORS
======================== */ 
.fg-light{
  color: var(--foreground-light)
}
.fg-light-faded{
  color: var(--foreground-light-faded)
}
.fg-blue{
  color: var(--foreground-blue)
}
.fg-blue-faded{
  color: var(--foreground-blue-faded)
}

/* ===================== 
        LAYOUT
======================== */ 

.container {
    margin: auto;
    width: 100%;
}

/* ===================== 
        PRISONER
======================== */ 

.prison-door {

  margin: 1em 0.5em 0em 0.5em;
  border-radius: 20px 20px 0px 0px;
    background-color: var(--background-dark);
    display: flex;
    height: 270px;
    width: 13em;

    background-image: url("./resources/photostop/door-tiles-45.png");

    --text-shadow-prison-number: none;
    --prison-number-color: var(--foreground-blue-faded);
    --prison-number-color-hover: var(--foreground-blue);
  }

  .prison-door > div {
    flex: 1;
    text-align: center;
  }

  .prison-door.is-selected  {
    --text-shadow-prison-number: 
      0px 0px 5px #006debff,
      0px 0px 10px #006debff,
      0px 0px 15px #006debff,
      0px 0px 25px #006debff,
      0px 0px 35px #006debff,
      0px 0px 50px #006debff,
      0px 0px 70px #006debff;
    --prison-number-color: rgb(218, 235, 255);
    --prison-number-color-hover: rgb(218, 235, 255);;

    box-shadow: var(--box-shadow-blue-selected);
  }

  .prison-door.test-glow{
    box-shadow: var(--box-shadow-blue-selected);
  }

  .prisoner-number.test-glow{
    --text-shadow-prison-number: 
    0px 0px 5px #006debff,
    0px 0px 10px #006debff,
    0px 0px 15px #006debff,
    0px 0px 25px #006debff,
    0px 0px 35px #006debff,
    0px 0px 50px #006debff,
    0px 0px 70px #006debff;
    text-shadow: var(--text-shadow-prison-number);
    color: rgb(218, 235, 255);
  }
  
  .prison-door-inner-border{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: var(--box-shadow-blue);
    width: 100%;
  }

  .prisoner-name{
    font-size: 24px;
  }

  .prisoner-number{
    font-family: 'Changa', sans-serif;
    font-size: 30px;
    margin: 10px 30px;
  }

  .prisoner-number.glow{
    text-shadow: var(--text-shadow-prison-number);
    color: var(--prison-number-color);
  }

  .prisoner-number.glow:hover{
    color: var(--prison-number-color-hover);
    cursor: pointer;
  }

  .test-container{
    width: 13em;
    position: absolute;
    animation: translation 1s infinite alternate;
  }

  @keyframes translation {
    0%{
      left: 0;
    }
    100%{
      left: calc(100% - 14em);
    }
  }

/* ===================== 
        PRISONER DETAILS
======================== */ 

 .details-container{
   margin: auto;
   margin-top: 20px;
  border-radius: 20px;
  background-color: var(--background-dark);
  display: flex;
  width: 95%;
  max-width: 500px;
  color: var(--foreground-blue);
  background-image: url("./resources/photostop/door-tiles-45.png");

 }

 .left-container{
  flex: 0 1 40%;
  min-height: 100%;
  max-width: 40%;
 }

 .right-container{
  flex: 0 1 60%;
  height: 100%;
  max-width: 60%;
  box-sizing: border-box;

  padding: 10px;

  border-left-width: 1px;
  border-right-width: 0px;
  border-top-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--foreground-blue), rgba(0, 0, 0, 0)) 1 100%;
 }

 .detail{
   color: var(--foreground-light);
   font-size: var(--font-size-regular);
   font-weight: bold;
 }

 .detail.list{
  font-size: var(--font-size-small);
  font-weight: normal;
 }

 .detail-description{
  color: var(--foreground-blue);
  font-size: var(--font-size-small);
}

.flex-end{
  align-items: flex-end;
}

 .photo{
  background-image: url("./resources/photostop/wireframe_blue.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain; 
  /* position: relative;
  /* height: 20vw; */
  height: 150px;
  width: 100%;
  min-width: 50px;

  /* border-left-width: 2px;
  border-right-width: 2px;
  border-style: solid;
  border-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--foreground-blue), rgba(0, 0, 0, 0)) 1 100%; */

  /* animation: opacity-pulse 2s alternate infinite;
  animation-timing-function: ease-in-out; */
 }

 .numerics{
  font-family: 'Changa', sans-serif;
  font-weight: bold;
  font-size: var(--font-size-small);
  margin: 0px 2px;
  min-width: 32px;
  text-align: center;
 }

 .bar-graph{
   display: flex;
   align-items: flex-end;
   height: 115px;
 }

 .bar{
  background: var(--foreground-blue-faded);
  height: 100px;
  flex:1;
  margin: 0px 3px;
 }

 .b1{
   animation: bar1 1.4s alternate infinite;
   animation-timing-function: linear;
 }

 .b2{
  animation: bar2 1s alternate infinite;
  animation-timing-function: linear;

}

.b3{
  animation: bar3 1.8s alternate infinite;
}

.b4{
  animation: bar4 0.8s alternate infinite;
  animation-timing-function: linear;
}

.b5{
  animation: bar5 0.4s alternate infinite;
  animation-timing-function: linear;
}


@keyframes bar1{
  0%{
    height: 10px;
  }
  100%{
    height: 90px;
  }
}
@keyframes bar2{
  0%{
    height: 50px;
  }
  100%{
    height: 115px;
  }
}
@keyframes bar3{
  0%{
    height: 0px;
  }
  100%{
    height: 80px;
  }
}
@keyframes bar4{
  0%{
    height: 30px;
  }
  100%{
    height: 60px;
  }
}

@keyframes bar5{
  0%{
    height: 30px;
  }
  100%{
    height: 60px;
  }
}

 /* @keyframes opacity-pulse{
   0%{
     opacity: 40%;
   }
   100%{
     opacity: 100%;
   }
 } */

 .hr-1{

   --box-shadow-hr-start:
   0px 0px 2px #91c4ff,
   0px 0px 5px #0077ff99,
   0px 0px 10px #0077ff99,
   0px 0px 15px #0077ff99,
   0px 0px 20px #0077ff99,
   0px 0px 30px #0077ff99,
   0px 0px 50px #0077ff99;

   --box-shadow-hr-end:
   0px 0px 5px #0077ff99,
   0px 0px 10px #0077ff99,
   0px 0px 15px #0077ff99;

  box-shadow: var(--box-shadow-hr-start);
  border-color: var(--foreground-light-blue);
  animation: pulse 2s infinite;
  /* animation-timing-function: cubic-bezier(0.82, 0.14, 0.74, 0.38); */
  animation-timing-function: linear;
 }

 @keyframes pulse {
   100%{
     box-shadow: none;
    /* border-color: var(--foreground-blue-faded); */
    opacity: 20%;
   }
 }

 .hr-2{
  border: 0;
  height: 0.3em;
  /* width: 200%; */
  /* background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)); */
  --turn: 0;
  /* --start: 0%;
  --end: calc(var(--start) + 4%);
  --end: 5%; */
  background: linear-gradient(to left, #b7d9ff00,#b7d9ff00, 48%, var(--foreground-blue) , 52%, #b7d9ff30, #b7d9ff20, #b7d9ff10, #b7d9ff00);
  background-size: 200%;
  background-position: 0% 0%;
  box-shadow:  
  0px 0px 5px #0077ff99;

  
    
  animation: moving-linear 1s infinite;
  animation-timing-function: linear;
}

@keyframes moving-linear{
  50%{
    box-shadow:   none;
  }
  100%{
    background-position: -200% 0%;
  }
}

.marker{
  border: none;
  height: 2px;
  background: linear-gradient(to left, #00000000,  var(--foreground-blue), #00000000);
  animation: 1s infinite;
  margin-bottom: 10px;
  border-radius: 50%;
}

.marker.m1{

  width: 50px;
  animation-name: marker-opacity-1;
}

.marker.m2{
  width: 20px;
  animation-name: marker-opacity-2;
}

.marker.m3{
  width: 20px;
  animation-name: marker-opacity-3;
}

.marker.m4{
  width: 20px;
  animation-name: marker-opacity-4;
}

.marker.m5{
  width: 20px;
  animation-name: marker-opacity-5;
}

@keyframes marker-opacity-1{
  0%{
    opacity: 0%;
  }
  10%{
    opacity: 0%;
  }
  20%{
    opacity: 100%;
  }
  30%{
    opacity: 100%;
  }
  40%{
    opacity: 100%;
  }
  50%{
    opacity: 100%;
  }
  60%{
    opacity: 100%;
  }
  70%{
    opacity: 100%;
  }
  80%{
    opacity: 100%;
  }
  90%{
    opacity: 100%;
  }
  100%{
    opacity: 100%;
  }
}

@keyframes marker-opacity-2{
  0%{
    opacity: 0%;
  }
  10%{
    opacity: 0%;
  }
  20%{
    opacity: 0%;
  }
  30%{
    opacity: 0%;
  }
  40%{
    opacity: 100%;
  }
  50%{
    opacity: 100%;
  }
  60%{
    opacity: 100%;
  }
  70%{
    opacity: 100%;
  }
  80%{
    opacity: 100%;
  }
  90%{
    opacity: 100%;
  }
  100%{
    opacity: 100%;
  }
}

@keyframes marker-opacity-3{
  0%{
    opacity: 0%;
  }
  10%{
    opacity: 0%;
  }
  20%{
    opacity: 0%;
  }
  30%{
    opacity: 0%;
  }
  40%{
    opacity: 0%;
  }
  50%{
    opacity: 0%;
  }
  60%{
    opacity: 100%;
  }
  70%{
    opacity: 100%;
  }
  80%{
    opacity: 100%;
  }
  90%{
    opacity: 100%;
  }
  100%{
    opacity: 100%;
  }
}

@keyframes marker-opacity-4{
  0%{
    opacity: 0%;
  }
  10%{
    opacity: 0%;
  }
  20%{
    opacity: 0%;
  }
  30%{
    opacity: 0%;
  }
  40%{
    opacity: 0%;
  }
  50%{
    opacity: 0%;
  }
  60%{
    opacity: 0%;
  }
  70%{
    opacity: 0%;
  }
  80%{
    opacity: 100%;
  }
  90%{
    opacity: 100%;
  }
  100%{
    opacity: 100%;
  }
}

@keyframes marker-opacity-5{
  0%{
    opacity: 0%;
  }
  10%{
    opacity: 0%;
  }
  20%{
    opacity: 0%;
  }
  30%{
    opacity: 0%;
  }
  40%{
    opacity: 0%;
  }
  50%{
    opacity: 0%;
  }
  60%{
    opacity: 0%;
  }
  70%{
    opacity: 0%;
  }
  80%{
    opacity: 0%;
  }
  90%{
    opacity: 0%;
  }
  100%{
    opacity: 100%;
  }
}

.heading{
  margin: 0;
  /* font-family: 'Righteous', cursive; */
  font-family: 'Electrolize', sans-serif;
  font-weight: bold;
  /* font-family: 'Monoton', cursive; */
  text-align: center;
  color: var(--foreground-verylight-blue);
}

.heading.glow{
  text-shadow:
    0 0 7px var(--foreground-blue),
    0 0 7px #000000,
    0 0 10px var(--foreground-blue),
    0 0 21px var(--foreground-blue),
    0 0 42px var(--neon-border-color),
    0 0 82px var(--neon-border-color),
    0 0 92px var(--neon-border-color),
    0 0 102px var(--neon-border-color),
    0 0 151px var(--neon-border-color);
    /* animation: title-flicker 5s infinite alternate;  */
 
}

.heading.glow.flicker{
  animation: title-opacity-flicker 3s infinite alternate;
}

@keyframes title-flicker{
  0%, 18.5%, 19.5%, 22.5%, 23.5%, 53.5%, 54.5%, 98.5%, 99.5%, 100%{
    text-shadow:
    0 0 7px var(--foreground-blue),
    0 0 7px #000000,
    0 0 10px var(--foreground-blue),
    0 0 21px var(--foreground-blue),
    0 0 42px var(--neon-border-color),
    0 0 82px var(--neon-border-color),
    0 0 92px var(--neon-border-color),
    0 0 102px var(--neon-border-color),
    0 0 151px var(--neon-border-color);
  }
  19%, 23%, 54%, 99% {       
    text-shadow: none;
  }
}

@keyframes title-opacity-flicker{
  0%, 18%, 20%, 23%, 25%, 72%, 74%{
    opacity: 1;
  }
  19%, 24%, 73%{       
    opacity: 0.2;
  }
}



.neonText {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

/* .icon{
  height: 50px;
  width: 50px;
  border: 1px solid green;
  color: green;

  background: green;
  background-image: url("./resources/angle-double-down-solid.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain; 

} */

.icon{
  cursor: pointer;
  color: var(--foreground-light-blue);
  transition: all .1s ease-in-out;

}
.icon:hover{
  transform: scale(1.2);
}

.link{
  color: var(--foreground-light);
  cursor: pointer;
}

.link:hover{
  color: var(--foreground-blue)
}









 


