@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Black+Ops+One&family=Luckiest+Guy&family=Orelega+One&family=PT+Sans&family=Paytone+One&display=swap');

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.60), 0 1px 2px rgba(0, 0, 0, 0.70);
  }

body{
  background-color: #f1f1f1;
  font-family: 'PT Sans', sans-serif;
}

.container {
    margin: 30px auto;
    width: 100%;
}

.prison-door {
    background-color: #d5d5d5;
    border-radius: 20px 20px 0px 0px;
    color: #232323;
    box-shadow: var(--box-shadow);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin: 5px 10px 0px 10px;
    height: 250px;
    width: 200px;
  }

  .prison-door > div {
    flex: 1;
    text-align: center;
  }
  
  .prison-grate{
    margin: 20px 10% 0 10%;
    height: 80px;
    border-radius: 10px;
    background-color: #343434;
  }

  .prison-grate > div{
    box-sizing: border-box;
    background-color: #aaaacc;
    height: 100%;
    width: 7%;
    margin: 0 10px;
    display: inline-block;
    border-right: 2px solid white;
    border-left: 2px solid gray;
  }

  .prisoner-number{
    font-family: 'Archivo Black', sans-serif;
    font-size: 30px;
    margin: 10px 30px;
  }

  .engraved {
    background-color: black;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(200,200,200,0.9) -1px 1px 1px;
 }

